{% extends "baseLog.html" %}
{% block body %}
<div class=' mx-auto w-50 p-3'>
    <div class='text-center text-info'>Registrese</div>
    {% if message %}
    <div class='text-center text-danger'>
        {{message}}
    </div>
    {% endif %}

    <form id="loginn" class="input-groupp"  action="{% url 'signin' %}" method="POST">
        {% csrf_token %}
        <!-- <div class="form-group"> -->

            <label for="username">Nombre:</label>
            <input type="text" class="input-field" name="first_name" placeholder="Insert your name">
        <!-- </div> -->
        <!-- <div class="form-group"> -->
            <label for="username">Apellido:</label>
            <input type="text" class="input-field" name="last_name" placeholder="Insert your last name">
        <!-- </div> -->
        <!-- <div class="form-group"> -->
            <label for="username">Id usuario:</label>
            <input type="text" class="input-field" name="username" placeholder="user id">
        <!-- </div> -->
        <!-- <div class="form-group"> -->
            <label for="email">Emai:l</label>
            <input type="email" class="input-field" name="email" placeholder="example@gmail.com">
        <!-- </div> -->
        <!-- <div class="form-group"> -->
            <label for="pwd">Contrasena:</label>
            <input type="password" class="input-field" name="password" placeholder="Insert letter and numbers">
        <!-- </div> -->
        <!-- <div class="form-group"> -->
            <label for="pwd">Repita Contrasena:</label>
            <input type="password" class="form-control" name="password2" placeholder="Insert letter and numbers">

        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
{% endblock %}
